/* --- RESET */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* to have padding and border incl in width and height */
}

/* Makes images easier to work with */
img {
	display: block; /* removes space due to inline setting with text */
	max-width: 100%; /* so that image doesnt overflow its container */
	height: auto; /* because of added height in html to prevent layout shift */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* --- VARIABLES */

:root {
	/* FONTS */
	font-size: 16px; /* to match figma settings */
	--FF: "Roboto", sans-serif;
	/* --FS: clamp(1.25rem, 2.2vh, 1.5rem); */

	/* COLORS */
	--BGCOLOR: #f4f6fc;
	/* --ALT-BGCOLOR:white; */
	--BTN-COLOR: #072ac8;
	--HEADERS-FONT-COLOR: #292e47;
	--FONT-COLOR: #6b708d;
	--LINK-COLOR: #072ac8;

	/* creation  to use on card*/
	--BOX-SHADOW: 0 0 10px #292e47;

	/* --LINK-ACTIVE: ; */

	/* --- PADDING */
	/* --PADDING-TOP-BOTTOM:; */
	--PADDING-LEFT-RIGHT: 0rem 10.625rem;

	/* --- MARGIN */
	/* --MARGIN: clamp(1em,2.5vh,1.5em);  min,val,max */
}

/* --- UTILITY CLASSES */

/* not to split certain words, trza dac je w span z ta clasa */
.nowrawp {
	white-space: nowrap;
}
/* to hide something from the screen */
.offscreen {
	position: absolute;
	left: -10000px;
}
/* not applied yet */
.center {
	text-align: center;
}

/* --- GENERAL STYLES */

/* makes scroll work smooth with elements */
html {
	scroll-behavior: smooth;
	background-color: var(--BGCOLOR);
}

body {
	background-color: var(--BGCOLOR);
	color: var(--FONT-COLOR);

	min-height: 100vh; /* Ensure full viewport height for vertical centering */
	max-width: 90rem;
	min-width: 320px; /* needed? */

	display: flex;
	flex-direction: column; /* sets content from top to bottom on mobile */

	font: 1.25rem var(--FF);
	font-style: normal;
	font-weight: 400;
	line-height: normal; /* 1.2 to 1.45em */

	padding: var(--PADDING-LEFT-RIGHT);
	padding-top: 4.375em;
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--HEADERS-FONT-COLOR);
}

h1 {
	font-size: 3.75rem;
	font-weight: 700;
}
h2 {
	font-size: 3.125rem;
	font-weight: 700;
}
h3 {
	font-size: 2.5rem;
	font-weight: 700;
}

h4 {
	font-size: 1.5rem;
	font-weight: 700;
}

h5 {
	/* Body/Medium/Intro - my H5  doesnt exist in figma */
	font-size: 1.5rem;
	font-weight: 500;
}

a {
	font-size: 1.0625rem;
	text-decoration: none;
	color: var(--LINK-COLOR);
}
/* a: :visited{ color:  }  potem moge dodac  */

header {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: var(--BGCOLOR);
}

li {
	list-style: none;
}

li a {
	/* display: block; full bottons clicabkle not just test */
	border: 2px solid yellow;
	display: inline-block;
}

li a,
li a:visited {
	text-decoration: none;
	color: #6b708d;
}

li:first-child a {
	color: var(--LINK-COLOR);
}

li a:hover,
li a:focus {
	cursor: pointer;
	color: black;
	/* background: can add */
}

/*  --- HEADER STYLES */

.header__container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	border: 2px solid red;
	justify-content: space-between; /* na duzym ekranie rozstaw */
	/* margin-inline: 0 auto;  		*/
}

.header__nav {
	/* Headline/Medium COPY */
	font-weight: 500;
	line-height: 1.38125rem; /* 130% */
}

.header__ul {
	border: 2px solid black;
	/* original display: inline-flex;  align-items: flex-start;  gap: 3.75rem; */
	display: flex; /* to have menu as a row */
	gap: 3.75rem;
}

/* neeeded? */
.header-circle-logo img {
	border: 2px red solid;
	min-width: 3.78294rem;
	min-height: 1.15356rem;
	/* flex-shrink: 0; */
}

/* ********** SMALL MOBILE, iPads, Tablets *********** */
@media screen and (max-width: 746px) {
	h1,
	h2,
	h3 {
		font-size: 2rem;
	}
	body {
		padding: 1rem;
	}
	.header__container {
		flex-flow: column wrap; /* wrap musi byc inaczej wychodzi all poza */
	}

	.header__ul {
		flex-flow: column;
		gap: 1rem; /* bo jest wieksza w */
		align-items: center;
		padding-top: 10%;
	}
}

/* ********** MEDIUM AND LARGE  laptops, Desktops and rest *********** */
@media screen and (min-width: 747px) {
}

/* ********** MOBILE DEVICE LANDSCAPE *********** */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
}

/* ********** SYSTEM DARK MODE SETTINGS *********** */
@media (prefers-color-scheme: dark) {
}
