.project-details {
	margin-top: 8.75rem;
	margin-bottom: 8.75rem;
}

.project-img-4 {
	background-image: url("../project-assets/projects-section/4.jpg");
}

.project-img-5 {
	background-image: url("../project-assets/projects-section/5.jpg");
}

.project-img-6 {
	background-image: url("../project-assets/projects-section/6.jpg");
}
